* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

input, textarea, button{
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.invisLimk {
    position: relative;
    z-index: 1;
}

.invisLimk > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

header .table {
    display: table;
    width: 100%;
}

header .left,
header .logo,
header .right{
    display: table-cell;
    width: 33.33333%;
    vertical-align: top;
}

header .logo {
    text-align: center;
}

header .left {
    text-align: left;
}

header .right {
    text-align: right;
}

header .login {
    font-size: 13px;
    line-height: 19px;
    color: #0069b4;
}

header .menu a{
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .menu li{
    display: inline-block;
    margin-right: 18px;
}

header .phone{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .phone:hover {
    color: #1a9547;
}

header .callBack {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed  #0069b4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .callBack:hover {
    border-bottom: 1px dashed transparent;
}

header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: table;
    margin-left: auto;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .basket:hover {
    color: #1a9547;
}

header .basket span{
    color: #1a9547;
}

header [class*=icon]{
    color: #cbebd5;
}

header .login [class*=icon]{
    font-size: 20px;
}

header .login[class*=icon]{
    font-size: 13px;
}

.sale {
    width: 305px;
    height: 360px;
}

.slider {
    width: 640px;
    height: 360px;
}

.banner>div {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.banner > div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .slider .item{
    width: 640px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#customDots {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#customDots button {
    padding: 0;
    border: none;
    background-color: #666666;
    border-radius: 50%;
    opacity: 0.7;
    margin: 0 4px;
    width: 10px;
    height: 10px;
}

#customDots button:hover {
    opacity: 1;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
}

.advantages .item span{
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #333333;
    display: block;
}

.advantages .item p{
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.advantages .item {
    width: 25%;
    float: left;
}

.subscribe{
    padding: 20px;
    width: 320px;
    background-color: #63b949;
    float: left;
}

.subscribe label{
    font-size: 16px;
    color: #ffffff;
}

.subscribe input{
    width: 100%;
    border: none;
    font-size: 13px;
    line-height: 37px;
    color: #999999;
}

.subscribe input::placeholder {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    padding: 10px;
}

.subscribe button{
    background-color: #259c47;
}
.subscribe button{
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    width: 190px;
    border: none;
}

.subscribe .wrap span{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 17px;
    color: rgba(255, 255, 255, 0.5);
}

.subscribe .wrap {
    display: table;
    width: 100%;
}

.filter li{
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filter li:hover {
    border-bottom: 1px dashed transparent;
}

.filter li+li {
    margin-left: 20px;
}

.filter li a{
    text-decoration: none;
    color: #666666;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    widows: 43;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;
}

.card .img{
    width: 220px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .title{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card .content {
    min-height: 110px;
    position: relative;
}

.card .content .buy {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.card a{
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
}

.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #666666;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: top;
}

.card button{
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    width: 100px;
    border: none;
    display: block;
    float: right;
}

.card {
    position: relative;
    z-index: 1;
}

.thumbnail {
    position: absolute;
    display: none;
    top: -12px;
    right: 2px;
    padding: 11px;
    width: 313px;
    height: 356px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.thumbnail .pic {
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail .pic.active {
    border: 1px solid #259c47;
}

.widgets h1{
    font-size: 18px;
    width: 600px;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.socialItem:first-child,
.socialItem:last-child{
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2){
    width: 350px;
    height: 400px;
}
.socialItem{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .tabs li {
    display: inline-block;
    padding: 0px 15px;
}

.info .content{
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.info .title{
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-left: 25px;
}

.info .title::before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -3px;
}

.info .title.active::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer{
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #62b749;
}

footer a.socLInk{
    font-size: 21px;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer .contacts a[class*=icon]{
    color: #ffffff;
}

.fon {
    height: 210px;
    width: 980px;
    background-color: #b3b3b3;
}

.breadcrumbs {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
}

.news {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.title {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.data {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.text {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.other {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

.widgets .wrap {
    display: flex;
    justify-content: space-between;
}

footer .footMenu {
    width: 50%;
    float: left;
}

footer .contacts {
    width: 25%;
    float: left;
}

footer .copyright {
    width: 25%;
    float: left;
    text-align: right;
}

.footMenu .col {
    width: 50%;
    float: left;
}

.up {
    position: fixed;
    left: 10px;
    bottom: 70px;
}

/*оформление заказов*/

.orderList {
    padding-left: 40px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.radioBtn {
    display: none;
}

.radioBtn:not(checked)+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.radioBtn:not(checked)+label::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.radioBtn:checked+label::before {
    border-color: #51bf87;
}

.radioBtn:checked+label::after {
    opacity: 1;
}

.radioBtn+label {
    cursor: pointer;
}

.breadcrumbs a{
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.clear::after{
    content: '';
    display: block;
    clear: both;
}
.breadcrumbs li{
    float: left;

}

.selectB1 label{
    float: left;
    width: 120px;
}
.selectB1 option{
    float: left;
    width: 200px;
}

.content h2{
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.selectBl label{
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}
.selectBl option{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}
.orderList label{
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.orderList li{
    padding: 10px 0px;
}
.formBlock .text{
    font-size: 15px;
    line-height: 22px;
    color: #666666;
}
.orderList p{
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}
.orderList .additionalService{
    font-size: 12px;
    line-height: 18px;
    color: #f26522;
}
.content button{
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    background-color: #f26522;
    width: 190px;
    height: 30px;
    border: none;
}

.formBlock .text{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}
.formBlock label{
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
    color: #666666;

}
.formBlock input{
    display: block;
    border: 1px solid #d6d6d6;
    width: 190px;
}
.formBlock textarea{
    display: block;
    border: 1px solid #d6d6d6;
}
.formBlock span{
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
    color: #ed1c24;
}
.formBlock div{
    display: inline-block;
    padding: 10px 330px 10px 0;

}
.formBlock .text{
    display: inline-block;
    padding-right: 400px;
}
.clientWrap .left p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.clientWrap .left label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}
.formClient {
    display: table;
    width: 100%;
    float: left;
}

.formClient .left {
    display: block;
    width: 25%;
    float: left;
}

.formClient .right {
    display: block;
    width: 75%;
    float: left;
}

.formClient input{
    width: 280px;
    border: 1px solid #d6d6d6;
    display: block;
}
.formClient textarea{
    width: 280px;
    border: 1px solid #d6d6d6;
    display: block;
    height: 120px;
}

.formClient label{
    font-style: italic;
    font-size: 13px;
    color: #666666;
}

.cfix span:nth-child(1){
    font-style: normal;
    font-size: 13px;
}
.cfix span:nth-child(3){
    font-style: normal;
    font-size: 11px;
    color: #999999;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .sale {
        width: 295px;
        height: 350px;
    }

    .slider {
        width: 620px;
        height: 350px;
    }

    .subscribe {
        width: 300px;
    }

    .advantages {
        width: calc(100% - 300px);
    }

    .widgets {
        display: none;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 250px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }
}

@media (max-width: 776px) {
    .container  {
        width: 100%;
    }
    header{
        width: 100%;
        height: 115px;
        background-color: #63ba49;
    }

    header .left{
        display: none;
    }

    header .logo img{
        display: none;
    }

    header .logo{
        background-image: url("../img/png/logo_mobile.png");
    }

    header .right{
        display: none;
    }

    .banner{
        display: none;
    }

    .advSab{
        display: none;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        display: block;
        flex: 0 0 250px;
    }

    .widgets{
        display: none;
    }

    .info{
        display: none;
    }

    .accordion{
        display: none;
    }

}